Notes:

Will output keymap.c, keymap.svg and layers.h



------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=TEMPLATE                                                                                                                                                              |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯000000003╰─────────╮                                                                    ╭─────────╯000000008╰─────────╮                     |
|                     │000000002│000000003│000000004│                                                                    │000000007│000000008│000000009│                     |
|                     │000000002│000000003│000000004╭─────────╮                                                ╭─────────╮000000007│000000008│000000009│                     |
| ╭─────────╭─────────╯000000002╰─────────╯000000004│000000005│                                                │000000006│000000007╰─────────╯000000009╰─────────╮─────────╮ |
| │000000000│000000001╰─────────╯000000015╰─────────╯000000005│                                                │000000006╰─────────╯000000020╰─────────╯000000010│000000011│ |
| │000000000│000000001│000000014│000000015│000000016│000000005│                                                │000000006│000000019│000000020│000000021│000000010│000000011│ |
| │000000000│000000001│000000014│000000015│000000016╰─────────╯                                                ╰─────────╯000000019│000000020│000000021│000000010│000000011│ |
| │─────────│─────────╯000000014╰─────────╯000000016│000000017│                                                │000000018│000000019╰─────────╯000000021╰─────────│─────────│ |
| │000000012│000000013╰─────────╯000000027╰─────────╯000000017│                                                │000000018╰─────────╯000000036╰─────────╯000000022│000000023│ |
| │000000012│000000013│000000026│000000027│000000028│000000017│                                                │000000018│000000035│000000036│000000037│000000022│000000023│ |
| │000000012│000000013│000000026│000000027│000000028╰─────────╯                                                ╰─────────╯000000035│000000036│000000037│000000022│000000023│ |
| │─────────│─────────╯000000026╰─────────╯000000028│000000029│ ╭─────────╮                        ╭─────────╮ │000000034│000000035╰─────────╯000000037╰─────────│─────────│ |
| │000000024│000000025╰─────────╯         ╰─────────╯000000029│ │000000030╰─────────╮    ╭─────────╯000000033│ │000000034│─────────╯         ╰─────────╯000000038│000000038│ |
| │000000024│000000025│                             │000000029│ │000000030│000000031│    │000000032│000000033│ │000000034│                             │000000038│000000038│ |
| │000000024│000000025│                  ╭─────────╮╰─────────╯ │000000030│000000031│    │000000032│000000033│ ╰─────────╯╭─────────╮                  │000000038│000000038│ |
| ╰─────────╰─────────╯       ╭─────────╮│000000041╰─────────╮  ╰─────────╯000000031│    │000000032╰─────────╯  ╭─────────╯000000048│╭─────────╮       ╰─────────╯─────────╯ |
|                             │000000040││000000041│000000042╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯000000047│000000048││000000049│                             |
|                             │000000040││000000042│000000043│000000043│─────────╮          ╭─────────│000000046│000000047│000000048││000000049│                             |
|                             │000000040│╰─────────╯000000042│000000043│000000044│          │000000045│000000046│000000047╰─────────╯│000000049│                             |
|                             ╰encoooder╯          ╰─────────╯000000043│000000044│          │000000045│000000046╰─────────╯          ╰ennncoder╯                             |
|                                                            ╰─────────╯000000044│          │000000045╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=Empty                                                                                                                                                                 |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │         │         │                                                                    │         │         │         │                     |
|                     │         │         │         ╭─────────╮                                                ╭─────────╮         │         │         │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │         ╰─────────╯         ╰─────────╯         │         │ |
| │         │         │         │         │         │         │                                                │         │         │         │         │         │         │ |
| │         │         │         │         │         ╰─────────╯                                                ╰─────────╯         │         │         │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │         ╰─────────╯         ╰─────────╯         │         │ |
| │         │         │         │         │         │         │                                                │         │         │         │         │         │         │ |
| │         │         │         │         │         ╰─────────╯                                                ╰─────────╯         │         │         │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯         │ │         ╰─────────╮    ╭─────────╯         │ │         │─────────╯         ╰─────────╯         │         │ |
| │         │         │                             │         │ │         │         │    │         │         │ │         │                             │         │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰encoooder╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰ennncoder╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_QWERTY                                                                                                                                                               |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │    e    │         │                                                                    │         │    i    │         │                     |
|                     │    w    │         │    r    ╭─────────╮                                                ╭─────────╮    u    │         │    o    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯    t    │                                                │    y    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    q    │         │    d    │         │         │                                                │         │         │    k    │         │    p    │         │ |
| │         │         │    s    │         │    f    ╰─────────╯                                                ╰─────────╯    j    │         │    l    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    g    │                                                │    h    ╰─────────╯    ?    ╰─────────╯    :    │         │ |
| │         │    a    │         │    c    │         │         │                                                │         │         │    ,    │    !    │    ;    │         │ |
| │         │         │    |    │         │    v    ╰─────────╯                                                ╰─────────╯    m    │         │    .    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    b    │ │         ╰─────────╮    ╭─────────╯         │ │    n    │─────────╯         ╰─────────╯         │         │ |
| │         │    z    │                             │         │ │         │         │    │         │         │ │         │                             │    _    │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│  Smart  ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯  Smart  │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││   Num   │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │   Caps  ││         │                             |
|                             │  Mouse  ││         │   Nav   │         │─────────╮          ╭─────────│         │   Sym   │         ││  Mouse  │                             |
|                             │         │╰─────────╯         │  Space  │         │          │         │    ⌫    │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_SYM                                                                                                                                                                  |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │    |    │         │                                                                    │         │    "    │         │                     |
|                     │    &    │         │    _    ╭─────────╮                                                ╭─────────╮    '    │         │    #    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯    ~    │                                                │    `    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    %    │         │    +    │         │         │                                                │         │         │    {    │         │    $    │         │ |
| │         │         │    -    │         │    =    ╰─────────╯                                                ╰─────────╯    (    │         │    ::   │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    [    │                                                │    >    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    !    │         │    *    │         │         │                                                │         │         │    }    │         │    :    │         │ |
| │         │         │    |    │         │    \    ╰─────────╯                                                ╰─────────╯    )    │         │    ?    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    ]    │ │         ╰─────────╮    ╭─────────╯         │ │    <    │─────────╯         ╰─────────╯         │         │ |
| │         │    ^    │                             │         │ │         │         │    │         │         │ │         │                             │    @    │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


mapping=
"": "KC_TRANS",
"q": "KC_Q",
"w": "KC_W",
"e": "KC_E",
"r": "KC_R",
"t": "KC_T",
"y": "KC_Y",
"u": "KC_U",
"i": "KC_I",
"o": "KC_O",
"p": "KC_P",
"a": "KC_A",
"s": "KC_S",
"d": "KC_D",
"f": "KC_F",
"g": "KC_G",
"h": "KC_H",
"j": "KC_J",
"k": "KC_K",
"l": "KC_L",
";:": "KC_SCLN_COLON",
"z": "KC_Z",
"|": "KC_|",
"c": "KC_C",
"v": "KC_V",
"b": "KC_B",
"n": "KC_N",
"m": "KC_M",
",?": "KC_COMMA_QUESTION",
".!": "KC_DOT_E|CLAMATION",
"_": "KC_UNDERSCORE",
"space": "KC_SPACE",
"⌫": "KC_BSPACE",
"mouse": "LT(_MOUSE)",
"smartnum": "KC_FNUM",
"nav": "KC_FNAV",
"sym": "KC_FSYM",
"smartcaps": "KC_FCAPS",
