Notes:
- Will output keymap.c, keymap.svg and layers.h


------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=Name                                                                                                                                                                  |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯000000003╰─────────╮                                                                    ╭─────────╯000000008╰─────────╮                     |
|                     │000000002│000000003│000000004│                                                                    │000000007│000000008│000000009│                     |
|                     │000000002│000000003│000000004╭─────────╮                                                ╭─────────╮000000007│000000008│000000009│                     |
| ╭─────────╭─────────╯000000002╰─────────╯000000004│000000005│                                                │000000006│000000007╰─────────╯000000009╰─────────╮─────────╮ |
| │000000000│000000001╰─────────╯000000015╰─────────╯000000005│                                                │000000006╰─────────╯000000020╰─────────╯000000010│000000011│ |
| │000000000│000000001│000000014│000000015│000000016│000000005│                                                │000000006│000000019│000000020│000000021│000000010│000000011│ |
| │000000000│000000001│000000014│000000015│000000016╰─────────╯                                                ╰─────────╯000000019│000000020│000000021│000000010│000000011│ |
| │─────────│─────────╯000000014╰─────────╯000000016│000000017│                                                │000000018│000000019╰─────────╯000000021╰─────────│─────────│ |
| │000000012│000000013╰─────────╯000000027╰─────────╯000000017│                                                │000000018╰─────────╯000000036╰─────────╯000000022│000000023│ |
| │000000012│000000013│000000026│000000027│000000028│000000017│                                                │000000018│000000035│000000036│000000037│000000022│000000023│ |
| │000000012│000000013│000000026│000000027│000000028╰─────────╯                                                ╰─────────╯000000035│000000036│000000037│000000022│000000023│ |
| │─────────│─────────╯000000026╰─────────╯000000028│000000029│ ╭─────────╮                        ╭─────────╮ │000000034│000000035╰─────────╯000000037╰─────────│─────────│ |
| │000000024│000000025╰─────────╯         ╰─────────╯000000029│ │000000030╰─────────╮    ╭─────────╯000000033│ │000000034│─────────╯         ╰─────────╯000000038│000000038│ |
| │000000024│000000025│                             │000000029│ │000000030│000000031│    │000000032│000000033│ │000000034│                             │000000038│000000038│ |
| │000000024│000000025│                  ╭─────────╮╰─────────╯ │000000030│000000031│    │000000032│000000033│ ╰─────────╯╭─────────╮                  │000000038│000000038│ |
| ╰─────────╰─────────╯       ╭─────────╮│000000041╰─────────╮  ╰─────────╯000000031│    │000000032╰─────────╯  ╭─────────╯000000048│╭─────────╮       ╰─────────╯─────────╯ |
|                             │000000040││000000041│000000042╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯000000047│000000048││000000049│                             |
|                             │000000040││000000042│000000043│000000043│─────────╮          ╭─────────│000000046│000000047│000000048││000000049│                             |
|                             │000000040│╰─────────╯000000042│000000043│000000044│          │000000045│000000046│000000047╰─────────╯│000000049│                             |
|                             ╰─encoder─╯          ╰─────────╯000000043│000000044│          │000000045│000000046╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯000000044│          │000000045╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=Empty                                                                                                                                                                 |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │         │         │                                                                    │         │         │         │                     |
|                     │         │         │         ╭─────────╮                                                ╭─────────╮         │         │         │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │         ╰─────────╯         ╰─────────╯         │         │ |
| │         │         │         │         │         │         │                                                │         │         │         │         │         │         │ |
| │         │         │         │         │         ╰─────────╯                                                ╰─────────╯         │         │         │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │         ╰─────────╯         ╰─────────╯         │         │ |
| │         │         │         │         │         │         │                                                │         │         │         │         │         │         │ |
| │         │         │         │         │         ╰─────────╯                                                ╰─────────╯         │         │         │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯         │ │         ╰─────────╮    ╭─────────╯         │ │         │─────────╯         ╰─────────╯         │         │ |
| │         │         │                             │         │ │         │         │    │         │         │ │         │                             │         │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_QWERTY                                                                                                                                                               |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │    e    │         │                                                                    │         │    i    │         │                     |
|                     │    w    │         │    r    ╭─────────╮                                                ╭─────────╮    u    │         │    o    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯    t    │                                                │    y    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    q    │         │    d    │         │         │                                                │         │         │    k    │         │    p    │         │ |
| │         │         │    s    │         │    f    ╰─────────╯                                                ╰─────────╯    j    │         │    l    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    g    │                                                │    h    ╰─────────╯    ?    ╰─────────╯    :    │         │ |
| │         │    a    │         │    c    │         │         │                                                │         │         │    ,    │    !    │    ;    │         │ |
| │         │         │    x    │         │    v    ╰─────────╯                                                ╰─────────╯    m    │         │    .    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    b    │ │         ╰─────────╮    ╭─────────╯         │ │    n    │─────────╯         ╰─────────╯         │         │ |
| │         │    z    │                             │         │ │         │         │    │         │         │ │         │                             │    _    │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│  Smart  ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯  Smart  │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││   Num   │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │   Caps  ││         │                             |
|                             │  Mouse  ││         │   Nav   │         │─────────╮          ╭─────────│         │   Sym   │         ││  Mouse  │                             |
|                             │         │╰─────────╯         │  Space  │         │          │         │    ⌫    │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_QWERTY_CAPS                                                                                                                                                          |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │    E    │         │                                                                    │         │    I    │         │                     |
|                     │    W    │         │    R    ╭─────────╮                                                ╭─────────╮    U    │         │    O    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯    T    │                                                │    Y    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    Q    │         │    D    │         │         │                                                │         │         │    K    │         │    P    │         │ |
| │         │         │    S    │         │    F    ╰─────────╯                                                ╰─────────╯    J    │         │    L    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    G    │                                                │    H    ╰─────────╯    ?    ╰─────────╯         │         │ |
| │         │    A    │         │    C    │         │         │                                                │         │         │    ,    │    !    │    _    │         │ |
| │         │         │    X    │         │    V    ╰─────────╯                                                ╰─────────╯    M    │         │    .    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    B    │ │         ╰─────────╮    ╭─────────╯         │ │    N    │─────────╯         ╰─────────╯         │         │ |
| │         │    Z    │                             │         │ │         │         │    │         │         │ │         │                             │    @    │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_RSTHD                                                                                                                                                                |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │    y    │         │                                                                    │         │    ⌫    │         │                     |
|                     │    c    │         │    f    ╭─────────╮                                                ╭─────────╮    l    │         │    u    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯    k    │                                                │    z    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    j    │         │    t    │         │         │                                                │         │         │    a    │         │    q    │         │ |
| │         │         │    s    │         │    h    ╰─────────╯                                                ╰─────────╯    n    │         │    i    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    d    │                                                │    m    ╰─────────╯    ?    ╰─────────╯         │         │ |
| │         │    r    │         │    g    │         │         │                                                │         │         │    ,    │    !    │    o    │         │ |
| │         │         │    v    │         │    p    ╰─────────╯                                                ╰─────────╯    w    │         │    .    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    b    │ │         ╰─────────╮    ╭─────────╯         │ │    x    │─────────╯         ╰─────────╯         │         │ |
| │         │    _    │                             │         │ │         │         │    │         │         │ │         │                             │    _    │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│  Smart  ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯  Smart  │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││   Num   │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │   Caps  ││         │                             |
|                             │  Mouse  ││         │   Nav   │         │─────────╮          ╭─────────│         │   Sym   │         ││  Mouse  │                             |
|                             │         │╰─────────╯         │  Space  │         │          │         │    e    │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_RSTHD_CAPS                                                                                                                                                           |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │    Y    │         │                                                                    │         │    ⌫    │         │                     |
|                     │    C    │         │    F    ╭─────────╮                                                ╭─────────╮    L    │         │    U    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯    K    │                                                │    Z    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    J    │         │    T    │         │         │                                                │         │         │    A    │         │    Q    │         │ |
| │         │         │    S    │         │    H    ╰─────────╯                                                ╰─────────╯    N    │         │    I    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    D    │                                                │    M    ╰─────────╯    ?    ╰─────────╯         │         │ |
| │         │    R    │         │    G    │         │         │                                                │         │         │    ,    │    !    │    O    │         │ |
| │         │         │    V    │         │    P    ╰─────────╯                                                ╰─────────╯    W    │         │    .    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    B    │ │         ╰─────────╮    ╭─────────╯         │ │    X    │─────────╯         ╰─────────╯         │         │ |
| │         │    _    │                             │         │ │         │         │    │         │         │ │         │                             │    _    │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│  Smart  ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯  Smart  │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││   Num   │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │   Caps  ││         │                             |
|                             │  Mouse  ││         │   Nav   │         │─────────╮          ╭─────────│         │   Sym   │         ││  Mouse  │                             |
|                             │         │╰─────────╯         │  Space  │         │          │         │    E    │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_NUM                                                                                                                                                                  |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │         │         │                                                                    │         │    6    │         │                     |
|                     │         │         │         ╭─────────╮                                                ╭─────────╮    5    │         │    7    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │         ╰─────────╯         ╰─────────╯         │         │ |
| │         │         │         │    9    │         │         │                                                │         │         │    2    │         │    8    │         │ |
| │         │         │         │         │    0    ╰─────────╯                                                ╰─────────╯    1    │         │    3    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │         ╰─────────╯         ╰─────────╯         │         │ |
| │         │         │         │         │         │         │                                                │         │         │         │         │    4    │         │ |
| │         │         │         │         │         ╰─────────╯                                                ╰─────────╯         │         │         │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯         │ │         ╰─────────╮    ╭─────────╯         │ │         │─────────╯         ╰─────────╯         │         │ |
| │         │         │                             │         │ │         │         │    │         │         │ │         │                             │         │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

  [_MOUS] = LAYOUT(
    xxxx, KC_MPLY,    ____,        ____,    KC_OLED, RGB_SAD,                                    KC_MS_WH_UP,   KC_MS_BTN1,    KC_MS_UP,   KC_MS_BTN2,     RGB_SAI, xxxx, 
    xxxx, OS_CMD,     OS_ALT,      OS_CTRL, OS_SHFT, RGB_HUD,                                    KC_MS_WH_DOWN, KC_MS_LEFT,    KC_MS_DOWN, KC_MS_RIGHT,    RGB_HUI, xxxx, 
    xxxx, KC_OS_MODE, KC_OS_PMODE, ____,    ____,    RGB_VAD, xxxx,     xxxx,   xxxx, xxxx,      ____,          KC_MS_WH_LEFT, KC_MS_BTN3, KC_MS_WH_RIGHT, RGB_VAI, xxxx, 
                                   ____,    ____,    ____,    KC_RSTHD, xxxx,   xxxx, KC_QWERTY, ____,          ____,          ____                                       
  ),

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_MOUSE                                                                                                                                                                |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯  Mouse  ╰─────────╮                     |
|                     │         │         │  Turn   │                                                                    │  Mouse  │    ↑    │  Mouse  │                     |
|                     │         │         │ On/Off  ╭─────────╮                                                ╭─────────╮    L    │         │    R    │                     |
| ╭─────────╭─────────╯         ╰─────────╯  OLED   │   RGB   │                                                │  Mouse  │  Button ╰─────────╯  Button ╰─────────╮─────────╮ |
| │         │  Media  ╰─────────╯         ╰─────────╯   Sat   │                                                │  Wheel  ╰─────────╯  Mouse  ╰─────────╯   RGB   │         │ |
| │         │  Play   │         │    ^    │         │   Dec   │                                                │    ↑    │  Mouse  │    ↓    │  Mouse  │   Sat   │         │ |
| │         │  Pause  │    ⎇    │         │    ⇧    ╰─────────╯                                                ╰─────────╯    ←    │         │    →    │   Inc   │         │ |
| │─────────│─────────╯         ╰─────────╯         │   RGB   │                                                │  Mouse  │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯   Hue   │                                                │  Wheel  ╰─────────╯  Mouse  ╰─────────╯   RGB   │         │ |
| │         │    ⌘    │   OS    │         │         │   Dec   │                                                │    ↓    │  Mouse  │    M    │  Mouse  │   Hue   │         │ |
| │         │         │  Mode   │         │         ╰─────────╯                                                ╰─────────╯  Wheel  │  Button │  Wheel  │   Inc   │         │ |
| │─────────│─────────╯  Print  ╰─────────╯         │   RGB   │ ╭─────────╮                        ╭─────────╮ │         │    ←    ╰─────────╯    →    ╰─────────│─────────│ |
| │         │   OS    ╰─────────╯         ╰─────────╯   Bri   │ │         ╰─────────╮    ╭─────────╯         │ │         │─────────╯         ╰─────────╯   RGB   │         │ |
| │         │  Mode   │                             │   Dec   │ │         │         │    │         │         │ │         │                             │   Bri   │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │   Inc   │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │  RSTHD  │         │          │         │  QWERTY │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_SYM                                                                                                                                                                  |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │    |    │         │                                                                    │         │    "    │         │                     |
|                     │    &    │         │    _    ╭─────────╮                                                ╭─────────╮    '    │         │    #    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯    ~    │                                                │    `    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    %    │         │    +    │         │         │                                                │         │         │    {    │         │    $    │         │ |
| │         │         │    -    │         │    =    ╰─────────╯                                                ╰─────────╯    (    │         │    ::   │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    [    │                                                │    >    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    !    │         │    *    │         │         │                                                │         │         │    }    │         │    :    │         │ |
| │         │         │    |    │         │    \    ╰─────────╯                                                ╰─────────╯    )    │         │    ?    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    ]    │ │         ╰─────────╮    ╭─────────╯         │ │    <    │─────────╯         ╰─────────╯         │         │ |
| │         │    ^    │                             │         │ │         │         │    │         │         │ │         │                             │    @    │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_NAV                                                                                                                                                                  |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │   Esc   │         │                                                                    │         │    ⇤    │         │                     |
|                     │  Close  │         │    ⏎    ╭─────────╮                                                ╭─────────╮    ⇞    │         │         │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯   Tab   │                                                │   Ins   ╰─────────╯         ╰─────────╯         │         │ |
| │         │  Redo   │         │    ^    │         │         │                                                │         │         │    ↑    │         │         │         │ |
| │         │         │    ⎇    │         │    ⇧    ╰─────────╯                                                ╰─────────╯    ↓    │         │    →    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯    ⌦    │                                                │    ←    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    ⌘    │         │  Copy   │         │         │                                                │         │         │    ⇥    │         │         │         │ |
| │         │         │   Cut   │         │  Paste  ╰─────────╯                                                ╰─────────╯    ⇟    │         │         │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯   EE    │ │         ╰─────────╮    ╭─────────╯         │ │   EE    │─────────╯         ╰─────────╯         │         │ |
| │         │  Undo   │                             │         │ │         │         │    │         │         │ │         │                             │         │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|layer=_RAISE                                                                                                                                                                |
|                               ╭─────────╮                                                                                        ╭─────────╮                               |
|                     ╭─────────╯         ╰─────────╮                                                                    ╭─────────╯         ╰─────────╮                     |
|                     │         │         │         │                                                                    │         │   F3    │         │                     |
|                     │         │         │         ╭─────────╮                                                ╭─────────╮   F2    │         │   F4    │                     |
| ╭─────────╭─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────╮─────────╮ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │   F12   ╰─────────╯         ╰─────────╯         │         │ |
| │         │         │         │    ^    │         │         │                                                │         │         │   F10   │         │   F1    │         │ |
| │         │         │    ⎇    │         │    ⇧    ╰─────────╯                                                ╰─────────╯   F11   │         │   F9    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │                                                │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯         │                                                │   F5    ╰─────────╯         ╰─────────╯         │         │ |
| │         │    ⌘    │         │         │         │         │                                                │         │         │   F7    │         │         │         │ |
| │         │         │         │         │         ╰─────────╯                                                ╰─────────╯   F6    │         │   F8    │         │         │ |
| │─────────│─────────╯         ╰─────────╯         │         │ ╭─────────╮                        ╭─────────╮ │         │         ╰─────────╯         ╰─────────│─────────│ |
| │         │         ╰─────────╯         ╰─────────╯   PDT   │ │         ╰─────────╮    ╭─────────╯         │ │   NDT   │─────────╯         ╰─────────╯         │         │ |
| │         │   PWD   │                             │         │ │         │         │    │         │         │ │         │                             │         │         │ |
| │         │         │                  ╭─────────╮╰─────────╯ │         │         │    │         │         │ ╰─────────╯╭─────────╮                  │         │         │ |
| ╰─────────╰─────────╯       ╭─────────╮│         ╰─────────╮  ╰─────────╯         │    │         ╰─────────╯  ╭─────────╯         │╭─────────╮       ╰─────────╯─────────╯ |
|                             │         ││         │         ╰─────────╮  ╰─────────╯    ╰─────────╯  ╭─────────╯         │         ││         │                             |
|                             │         ││         │         │         │─────────╮          ╭─────────│         │         │         ││         │                             |
|                             │         │╰─────────╯         │         │         │          │         │         │         ╰─────────╯│         │                             |
|                             ╰─encoder─╯          ╰─────────╯         │         │          │         │         ╰─────────╯          ╰─encoder─╯                             |
|                                                            ╰─────────╯         │          │         ╰─────────╯                                                            |
|                                                                      ╰─────────╯          ╰─────────╯                                                                      |
|                                                                                                                                                                            |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



mapping=
"": "KC_TRANS",
"q": "KC_Q",
"w": "KC_W",
"e": "KC_E",
"r": "KC_R",
"t": "KC_T",
"y": "KC_Y",
"u": "KC_U",
"i": "KC_I",
"o": "KC_O",
"p": "KC_P",
"a": "KC_A",
"s": "KC_S",
"d": "KC_D",
"f": "KC_F",
"g": "KC_G",
"h": "KC_H",
"j": "KC_J",
"k": "KC_K",
"l": "KC_L",
";:": "KC_SCLN_COLON",
"z": "KC_Z",
"|": "KC_|",
"c": "KC_C",
"v": "KC_V",
"b": "KC_B",
"n": "KC_N",
"m": "KC_M",
",?": "KC_COMMA_QUESTION",
".!": "KC_DOT_E|CLAMATION",
"_": "KC_UNDERSCORE",
"space": "KC_SPACE",
"⌫": "KC_BSPACE",
"mouse": "LT(_MOUSE)",
"smartnum": "KC_FNUM",
"nav": "KC_FNAV",
"sym": "KC_FSYM",
"smartcaps": "KC_FCAPS",
